html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 3.5fr;
  height: 100%;
}

.sidebar {
  background-color: #10b981;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 1fr repeat(4, 4fr);
  gap: 30px;
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(267deg)
    brightness(104%) contrast(101%);
}

.nav-header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 10px;
}

.header-logo {
  height: 60px;
  cursor: pointer;
}

.nav-header-text {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.nav-one {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-container {
  display: flex;
  align-items: end;
  padding-left: 35px;
  gap: 20px;
}

.nav-icons {
  height: 30px;
  cursor: pointer;
}

.nav-text {
  font-size: 22px;
  color: white;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.nav-two {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  background-color: #ffffff;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.header-left {
  display: grid;
  grid-template-rows: 2fr 3fr;
}

.header-search-bar {
  display: flex;
  padding-left: 35px;
  align-items: center;
  gap: 10px;
}

input {
  height: 30px;
  width: 45vw;
  border-radius: 20px;
  border: 0px;
  background-color: #e2e8f0;
}

.user-info {
  display: flex;
  align-items: center;
  padding-left: 40px;
  gap: 15px;
  padding-bottom: 10px;
}

.big-profile-pic {
  height: 80px;
  border-radius: 100%;
}

.user-wel {
  height: 0px;
}

.user-text {
  font-size: 26px;
  height: 0px;
}

.header-right {
  display: grid;
  grid-template-rows: 2fr 3fr;
  padding-right: 70px;
}

.user-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;
}

.small-profile-pic {
  height: 50px;
  border-radius: 100%;
}

.small-header-text {
  font-size: 20px;
}

.user-buttons {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  align-items: center;
}

.header-button {
  height: 5vh;
  width: 6vw;
  border-radius: 100px;
  border: 0px;
  background-color: #10b981;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.main-content {
  background-color: #e2e8f0;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
